# Data
db/UC Merced 2020 SE Project/
db/*.db
*.db
**/*.db
**/*.csv
**/*.zip
**/*.sqlite
**/*.tar.gz
**/*.tar.xz
!scripts/entrypoint.sh

# Tools
**/*.pdf
**/__pycache__/
node_modules/
.git/
.pytest_cache/
.vscode/
doc/
migrations/
tests/
public/css/
docker-compose.yml
.dockerignore

# Misc
TODO.md
.env
