db/UC Merced 2020 SE Project/
node_modules/
.git/
.pytest_cache/
**/__pycache__/
.vscode/
doc/
migrations/
tests/
public/css/
db/dashboard.db
db/test.db
db/*.db
*.db
**/*.zip
**/*.sqlite
**/*.pdf
.dockerignore
docker-compose.yml

**/*.csv

TODO.md
*.sh
.env

!*.py
!scripts/entrypoint.sh
