# Misc
node_modules/
__pycache__/
.vscode/
.pytest_cache/
.mypy_cache/

# Database
*.db
*.db-journal
*.xlsx
*.csv
*.zip
/db/bart_data
/db/UC Merced 2020 SE Project
/db/*.sh

# Notes
*.pdf
TODO

# For MacOS
.DS_Store
