# Build
*.css.map
#*.css
__pycache__/

# Config
.env
*env
api.ini

# Misc
node_modules/
dist/
.vscode/
.pytest_cache/
.mypy_cache/
env/
venv/
old*.html
*.log
*.sh
!docker/entrypoint.sh

# Data
*.db
*.db-journal
*.xlsx
*.csv
*.zip
*.tar.gz
*.tar.xz
/db/postgres/database.dump
!/db/postgres/*sh
/db/bart_data
/db/UC Merced 2020 SE Project
db/UC Merced 2020 SE Project*
# might change this later
/migrations

# Notes
*.pdf
TODO
TODO.md

# For MacOS
.DS_Store
