@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#analyticsContent{
    padding-left: 5%;
    margin-top:55px;
    bottom:0;
    width: 100%;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;

    hr{
        width: 95%;
        margin-right:8%;
       // margin-left:5%;
    }

    .topSect{
        margin-top: 65px;
        height:300px;
        width:100%;

        .analyticsGraphic3{


            background: white;
            width: 40%;
            height:100%;
            display: inline-block;
            margin-right: 70px;
            margin-left:8%;


            #woDoughnut{
                width:80%;
                height:80%;
            }
        }


        .middleGraph{
            border-radius: 5px;
            background: white;
            width: 40%;
            height:100%;
            display: inline-block;


            #woPiChart{
                width:80%;
                height:80%;
            }

        }

    }

    .bottomSect{
        height:400px;
        width:100%;
        bottom:0px;
        margin-top: 50px;


        #woHours{
            height:70%;
            width:75%;
            margin-left:8%;
        }
    }
}