@import "variables" ;


#dashContent{
    padding-left: 5%;
    //padding-right: 8%;
    width:85%;
    height:88%;
    right:0;
    bottom:0;
    position: absolute;

    hr{
        width: 85%;
        margin-left: 1%;
        margin-right:8%;
        color: $greyLight;


    }
    .topSection{
        height:15%;
        width:100%;

        .firstTotal{
            display: table-cell;
            vertical-align: center;
            background:#BDD4F2;
            color: white;
            //border-radius: 5px;
            height: 70%;
            width: 30%;
            text-align: left;
            display: inline-block;
            margin-right: 8%;
            }

        .secondTotal{
            display: table-cell;
            vertical-align: center;
            background:#BDD4F2;
            color: white;
            //border-radius: 5px;
            height: 70%;
            width: 30%;
            text-align: left;
            display: inline-block;

        }
    }

    .middleSection{
        margin-top: 50px;
        height:40%;
        width:100%;
        margin-bottom:50px;

        .title{
            //padding-top:10px;
            margin-left: 15px;
            font-size: 18px;
            color:#838383;
        }

        .dashChart1{
            border-radius: 5px;
            background: white;
            width: 50%;
            height:100%;
            display: inline-block;
            //outline:0.3px solid black;
            margin-right:5%;

        }

        .dashChart2{
            border-radius: 5px;
            background: white;
            width: 30%;
            height:100%;
            display: inline-block;
            //outline:0.3px solid $black;
        }
    }

    .bottomSection{
        height:30%;
        width:100%;
        bottom:0px;
        margin-top:20px;

        .assetsTable{
            height: 100%;
            width:90%;
            // outline: 0.3px solid $black;
        }
    }

}