@import "variables" ;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


#dashContent{
    padding-left: 5%;
    margin-top:55px;
    bottom:0;
    width: 100%;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;

    hr{
        width: 95%;
        margin-right:8%;


    }
    .middleSection{
        margin-top: 60px;
        height:40%;
        width:100%;
        margin-bottom:50px;


        .title{
            //padding-top:10px;
            margin-left: 15px;
            font-size: 18px;
            color:#838383;
            margin-left:5%;
        }

        .dashChart1{
            border-radius: 5px;
            background: white;
            width: 50%;
            height:100%;
            display: inline-block;
            margin-right:5px;
            margin-left:5%;



            #meterReadingsChart{
                height:80%;
                width:80%;
            }


        }

        .dashChart2{
            border-radius: 5px;
            background: white;
            width: 40%;
            height:100%;
            display: inline-block;

            #assetStatusBarChart{
               margin-top:45px;
               height:80%;
               width:80%;
            }
        }
    }

    .bottomSection{
        height:30%;
        width:100%;
        bottom:0px;
        margin-top:20px;

        .assetsTable{
           height: 100%;
           width:90%;
           margin-left:15%;

            // outline: 0.3px solid $black;


        }
    }

}