@import "variables";
//@import "dashboard_content";


* {
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
}

body {
  background: white;
  //min-height:100%;
  //position: relative;
}


.sideMenu {
    background:#F0F5F8;
    width: 15%;
    height: 150%;
    position: fixed;
    left:0;
    top: 0;
    bottom:0;
    outline:2px solid rgb(235, 233, 233);
    display:block;
    overflow:visible;



    .logo{
        background-color: $blueDark;
        display: block;
        top:0;
        left:0;
        height: 8%;
        width:100%;

    }

    .upload{
        background-color: $greyLight;
        display: block;
        text-decoration: none;
        position: fixed;
        bottom:0;
        width:15%;


    }

    nav {
        padding-top: 15%;


        a {
            display: block;
            color: $blueDark;
            text-decoration: none;
            padding: 15px 30px;
            font-weight: 80%;
            transition: all 0.3s ease-in-out;


            &:hover{
                background: $greyLight;
                border-left: 5px solid $blueDark;
                padding: 15px 30px 15px 25px;

                .fa{
                    color: $blueDark;
                }
            }

            .fa{
                color: $blueDark;
                font-size: 1.4rem;
                margin-right: 0.6rem;
                display: inline-block;
                width: 30px;
                position: relative;
                top: 2px;
            }

             &.active {
                background: $greyLight;
                border-left: 5px solid $blueDark;
                padding: 15px 30px 15px 25px;

                .fa{
                    color: $blueDark;
                }
            }
        }
    }
}



header{

    position: absolute;
    width:84.8%;
    height: 55px;
    right: 0;
    top: 0;
    padding: 8px;
    background: white;
    outline:2px solid rgb(235, 233, 233);

    .search{
        float: left;
        padding-left: 0px;
        width: 60%;

        .fa{
            color: darkgrey;
        }

        input[type = "text"]{
            background: transparent;
            border: none;
            color: $bartOrange;
            font-size: 1.1rem;
            padding:10px;
            font-weight: 100;
            width: 80%;
            transition: all 0.3 ease-in-out;

            &:hover{
                background: #e6e7e9;
            }
        }
    }

    .accountInfo{
        float: right;
        padding: 10px;
        display: table-cell;
        vertical-align: middle;




        a{
            display: inline-block;
            padding-right: 15px;
            text-decoration: none;
            color: black;

            &.notifications{
                position: relative;

                .notificationNum{
                    background: $bartRed;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 11px;
                    color: white;
                    text-align:center;
                    position: absolute;
                    top: -3px;
                    left: 7 px;
                }
            }
        }

    }
}

input:focus, textarea:focus{
    outline: none;
}