$bartRed:#BF0426;
$blueDark: #3D8BF2; //
$blueLight: #44AFF2;  //
$turquoiseLight: #04668C; //
$turquoiseDark: #034159;
$bartGreen: #4F731A;
$bartOrange: #D94B18;
$greyLight: #b7c3db;
$greyDark: #838383;
$black: #0D0D0D;



