@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
#analyticsContent {
  padding-left: 5%;
  margin-top: 55px;
  bottom: 0;
  width: 100%;
  transition: all 0.3s;
  font-family: 'Poppins', sans-serif; }
  #analyticsContent hr {
    width: 95%;
    margin-right: 8%; }
  #analyticsContent .topSect {
    margin-top: 65px;
    height: 300px;
    width: 100%; }
    #analyticsContent .topSect .analyticsGraphic3 {
      background: white;
      width: 40%;
      height: 100%;
      display: inline-block;
      margin-right: 70px;
      margin-left: 8%; }
      #analyticsContent .topSect .analyticsGraphic3 #woDoughnut {
        width: 80%;
        height: 80%; }
    #analyticsContent .topSect .middleGraph {
      border-radius: 5px;
      background: white;
      width: 40%;
      height: 100%;
      display: inline-block; }
      #analyticsContent .topSect .middleGraph #woPiChart {
        width: 80%;
        height: 80%; }
  #analyticsContent .bottomSect {
    height: 400px;
    width: 100%;
    bottom: 0px;
    margin-top: 50px; }
    #analyticsContent .bottomSect #woHours {
      height: 70%;
      width: 75%;
      margin-left: 8%; }
