@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
#analyticsContent {
  padding-left: 5%;
  width: 100%;
  bottom: 0;
  margin-top: 55px;
  font-family: 'Poppins', sans-serif; }
  #analyticsContent .topSect {
    height: 25%;
    width: 100%;
    /* .values{
            display: table-cell;
            vertical-align: top;
            background:white;
            border-radius: 5px;
            width: 40%;
            height:100%;
            text-align: left;
            display: inline-block;
            margin-right: 9.8%;



            .uniqueVisitors{
                color:black;
                height: 33.3%;
                outline:0.1px solid black;
            }
            .loadTime{
                color:black;
                height: 33.3%;
                outline:0.1px solid black
            }
            .newIssues{
                color:black;
                height: 33.3%;
                outline:0.1px solid black;
            }

        }*/ }
    #analyticsContent .topSect .analyticsGraphic1 {
      display: table-cell;
      vertical-align: top;
      background: white;
      border-radius: 5px;
      width: 40%;
      height: 100%;
      text-align: left;
      display: inline-block; }
  #analyticsContent .middleSect {
    height: 35%;
    width: 100%;
    margin-right: 60px;
    margin-top: 20px; }
    #analyticsContent .middleSect .middleGraph {
      height: 100%;
      width: 90%;
      background: white; }
  #analyticsContent .bottomSect {
    height: 33%;
    width: 100%;
    bottom: 0px;
    margin-top: 20px; }
    #analyticsContent .bottomSect .systemLog {
      display: table-cell;
      vertical-align: top;
      background: white;
      border-radius: 5px;
      width: 40%;
      height: 100%;
      text-align: left;
      display: inline-block;
      margin-right: 9.8%; }
    #analyticsContent .bottomSect .newTickets {
      display: table-cell;
      vertical-align: top;
      background: white;
      border-radius: 5px;
      width: 40%;
      height: 100%;
      text-align: left;
      display: inline-block;
      bottom: 0; }
