@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
#dashContent {
  padding-left: 5%;
  margin-top: 55px;
  bottom: 0;
  width: 100%;
  transition: all 0.3s;
  font-family: 'Poppins', sans-serif; }
  #dashContent hr {
    width: 95%;
    margin-right: 8%; }
  #dashContent .middleSection {
    margin-top: 60px;
    height: 40%;
    width: 100%;
    margin-bottom: 50px; }
    #dashContent .middleSection .title {
      margin-left: 15px;
      font-size: 18px;
      color: #838383;
      margin-left: 5%; }
    #dashContent .middleSection .dashChart1 {
      border-radius: 5px;
      background: white;
      width: 50%;
      height: 100%;
      display: inline-block;
      margin-right: 5px;
      margin-left: 5%; }
      #dashContent .middleSection .dashChart1 #meterReadingsChart {
        height: 80%;
        width: 80%; }
    #dashContent .middleSection .dashChart2 {
      border-radius: 5px;
      background: white;
      width: 40%;
      height: 100%;
      display: inline-block; }
      #dashContent .middleSection .dashChart2 #assetStatusBarChart {
        margin-top: 45px;
        height: 80%;
        width: 80%; }
  #dashContent .bottomSection {
    height: 30%;
    width: 100%;
    bottom: 0px;
    margin-top: 20px; }
    #dashContent .bottomSection .assetsTable {
      height: 100%;
      width: 90%;
      margin-left: 15%; }
