@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
#dashContent {
  padding-left: 5%;
  margin-top: 55px;
  bottom: 0;
  width: 100%;
  transition: all 0.3s;
  font-family: 'Poppins', sans-serif;
  /*
    .topSection{
        height:15%;
        width:100%;

        .firstTotal{
            display: table-cell;
            vertical-align: center;
            background:#BDD4F2;
            color: white;
            height: 70%;
            width: 30%;
            text-align: left;
            display: inline-block;
            margin-right: 8%;
            }

        .secondTotal{
            display: table-cell;
            vertical-align: center;
            background:#BDD4F2;
            color: white;
            //border-radius: 5px;
            height: 70%;
            width: 30%;
            text-align: left;
            display: inline-block;

        }
    }*/ }
  #dashContent hr {
    width: 95%; }
  #dashContent .middleSection {
    margin-top: 50px;
    height: 40%;
    width: 100%;
    margin-bottom: 50px; }
    #dashContent .middleSection .title {
      margin-left: 15px;
      font-size: 18px;
      color: #838383; }
    #dashContent .middleSection .dashChart1 {
      border-radius: 5px;
      background: white;
      width: 50%;
      height: 100%;
      display: inline-block;
      margin-right: 5px; }
    #dashContent .middleSection .dashChart2 {
      border-radius: 5px;
      background: white;
      width: 40%;
      height: 100%;
      display: inline-block; }
      #dashContent .middleSection .dashChart2 #assetStatusBarChart {
        margin-top: 45px; }
  #dashContent .bottomSection {
    height: 30%;
    width: 100%;
    bottom: 0px;
    margin-top: 20px; }
    #dashContent .bottomSection .assetsTable {
      height: 100%;
      width: 90%;
      margin-left: 15%; }
