@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
#searchContent {
  margin-top: 55px;
  bottom: 0;
  width: 100%;
  transition: all 0.3s;
  font-family: 'Poppins', sans-serif; }
  #searchContent ._heading {
    height: 50px;
    width: 100%;
    background-color: #3D8BF2;
    color: white;
    font-size: 1.5em;
    text-align: center; }
  #searchContent .button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 10px; }
  #searchContent .search-params {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh; }
    #searchContent .search-params #searchbar {
      height: 2rem;
      width: 20rem;
      margin-right: 30px; }
  #searchContent .search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 40vh; }
    #searchContent .search-results .mpu-data-view {
      background-color: #BDD4F2;
      border: 1px solid black;
      width: 38rem; }
      #searchContent .search-results .mpu-data-view .mpu-id,
      #searchContent .search-results .mpu-data-view .mpu-name,
      #searchContent .search-results .mpu-data-view .mpu-ranking {
        display: flex;
        flex-direction: row;
        column-gap: 1rem; }
    #searchContent .search-results .asset-data-view {
      width: 32rem; }
      #searchContent .search-results .asset-data-view .asset-num,
      #searchContent .search-results .asset-data-view .asset-bartdept,
      #searchContent .search-results .asset-data-view .asset-descrip,
      #searchContent .search-results .asset-data-view .asset-status {
        text-align: left; }
  #searchContent .search {
    padding-bottom: 2rem;
    align-content: center; }
