{% extends "base.html" %}
{% block header %}
    <script>const ASSET_NUM = parseInt('{{ asset_num }}');</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <link rel="stylesheet" href="/css/asset_graph.css">
{% endblock %}

{% block content %}
    <section class="content" id="content">
        <h1>Asset {{ asset_num }}</h1>
        <canvas class="graphCanvas" id="meterGraph"></canvas>
        <div id="stuff"></div>
    </section>
{% endblock %}

{% block scripts %}
<script src="/js/asset.js"></script>
<script src="/js/graph.js"></script>
<script>
    let asset = new Asset(ASSET_NUM);
    let graph;
    asset.readings(true).then(readings => {
        const ctx = document.getElementById("meterGraph").getContext("2d");
        // TODO change the graph title so it has the asset number/name
        graph = renderMeterReadings(ctx, readings);
    });
</script>
{% endblock %}
