{% extends "base.html" %}
{% block header %}
    <script>const ASSET_NUM = parseInt('{{ asset_num }}');</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <link rel="stylesheet" href="/public/css/asset_graph.css">
{% endblock %}

{% block content %}
    <section class="content" id="content">
        <h1>Asset {{ asset_num }}</h1>
        <p id="asset-desc"></p>
        <p id="asset-status"></p>
        <canvas class="graphCanvas" id="meterGraph"></canvas>
        <div id="stuff"></div>
    </section>
{% endblock %}

{% block scripts %}
<script src="/public/js/asset.js"></script>
<script src="/public/js/graph.js"></script>
<script>
    (() => {
        let asset = new Asset(ASSET_NUM);
        let graph;
        asset.readings(true).then(readings => {
            const ctx = document.getElementById("meterGraph").getContext("2d");
            // TODO change the graph title so it has the asset number/name
            graph = renderMeterReadings(ctx, readings);
        });
        asset.init().then((a) => {
            console.log(asset);
            document.getElementById("asset-desc").innerHTML = asset.description;
            document.getElementById("asset-status").innerHTML = `Status: ${asset.status}`
        });
    })();
</script>
<footer>
    <p></p>
</footer>
{% endblock %}
