<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page_title }}</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/styles.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        <script>const BASE_URL = '{{ host }}';</script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class = "wrapper">
            <nav id = "sidebar">
                <ul class="list-unstyled components">
                    <!-- TODO some heading or something -->
                    <li>
                        <a href = "/dashboard" class = "active"><i class="fa fa-home" aria-hidden = "true"></i> Dashboard </a>
                        <!-- TODO sub-menu here maybe?? -->
                    </li>
                    <li>
                        <a href = "/analytics"><i class="fa fa-bar-chart" aria-hidden = "true"></i> Analytics</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li>
                        <form enctype="multipart/form-data" action="/api/upload" method="POST">
                            <input
                                id="fileUpload"
                                type="file"
                                name="file"
                                placeholder="Upload File"
                                accept=".csv,.xls,.xlsx,.xlsm"
                            >
                            <button type="submit" id="fileUploadSubmit">Upload</button>
                        </form>
                    </li>
                </ul>
            </nav>
            <header>
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>

                <div class = "search">
                    <i class="fa fa-search" aria-hidden = "true"></i>
                    <input type = "text" name = "" value = "">
                </div>

                <div class = "accountInfo">
                    <a href = "#" class = "userName">Name</a>
                    <a href = "#" class = "notifications"><i class="fa fa-bell-o" aria-hidden = "true"></i>
                        <span class = "notificationNum" id="notificationNum">
                            #
                        </span>
                    </a>
                </div>
            </header>
            {% block content %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            {% block scripts %}{% endblock %}
            <script>
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });
                });
            </script>
        </div>
    </body>
</html>