{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/css/dashboard_content.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
        <section id = "dashContent">
            <div class = "topSection">
                <div class = "firstTotal">
                    <span >Total Sales</span>
                </div>

                <div class = "secondTotal">
                    <span>Total Income</span>
                    value
                </div>
            </div>

            <hr>

            <div class = "middleSection">
                <div class = "dashChart1">
                    <span class = "title">
                        Asset By Dept
                    </span>
                    <canvas id="meterReadingsChart"></canvas>
                </div>

                <div class = "dashChart2">
                    <span class = "title">
                        Meter Status
                    </span>
                    <canvas id="assetStatusBarChart"></canvas>
                </div>
            </div>

            <hr>

            <div class = "bottomSection">
                <button id="assetsToggle"><i class="fa fa-chevron-down" aria-hidden = "true"></i>Assets</button>
                <table class="assetsTable"
                    id="assetsTable"
                    style="width: 80%; text-align: left;">
                    <!-- API call results go here -->
                </table>
            </div>
        </section>
{% endblock %}

{% block scripts %}
    <script src="/js/graph.js"></script>
    <script src="/js/asset.js"></script>
    <script src="/js/upload.js"></script>
    <script>
        // render the testing graph when the pages loads
        window.onload = () => {
            Notification.requestPermission().then((result) => console.log(result));

            // document.getElementById("notificationNum").addEventListener("pointerenter", (e) => {
            //     let note = new Notification('what are you lookin at?? 🧐');
            // });

            // const statusCtx = document
            //     .getElementById("assetStatusBarChart")
            //     .getContext("2d");
            // listAssets().then((assets) => {
            //     renderBarGraph(statusCtx, assets);
            // })
            // const meterCtx = document
            //     .getElementById('meterReadingsChart')
            //     .getContext('2d');
            // window.myScatter = testGraph(meterCtx);
            const statusCtx = document.getElementById("assetStatusBarChart").getContext("2d");
            const meterCtx = document.getElementById('meterReadingsChart').getContext('2d');
            listAssets().then((assets) => {
                renderBarGraph(statusCtx, assets);
                testGraph(meterCtx, assets);
            })

            let table = new AssetTable("assetsTable", -1);
            table.render();
            const assetsToggle = document.getElementById("assetsToggle");
            assetsToggle.addEventListener("click", (event) => {
                table.toggle();
            });

            document
                .getElementById("fileUpload")
                .addEventListener("change", handleReadFile);
            // set a default event listener that does nothing
            document
                .getElementById("fileUploadSubmit")
                .addEventListener("click", (e) => e.preventDefault());
        }
    </script>
{% endblock %}