{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/css/dashboard_content.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}
            <div class = "topSection">
               <!-- <div class = "heading">
                    <h1>Dashboard</h1>
                </div>
                -->
                <div class = "firstTotal">
                    <span >Total Sales</span>
                        value
                </div>

                <div class = "secondTotal">
                    <span>Total Income</span>
                    value
                 </div>

            </div>

            <div class = "middleSection">
                <div class = "dashboardCharts">
                    <div class = "dashChart1">
                        <span class = title>
                            Asset Meter Readings
                        </span>
                        <canvas id="meterReadingsChart"></canvas>
                    </div>

                    <div class = "dashChart2">
                        <span class = title>
                            Meter Status
                        </span>
                        <canvas id="assetStatusBarChart"></canvas>
                    </div>
                </div>
            </div>

            <div class = "bottomSec"ion>
                <div class = "updateList">
                    <table class = "updateTable">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>

                <button id="assetsToggle">Toggle assets</button>
                <table
                class="assetsTable"
                id="assetsTable"
                style="width: 80%; text-align: left;"
                >
                    <!-- API call results go here -->
                </table>
                <!-- <button id="showMoreAssets">show more...</button> -->
{% endblock %}

{% block scripts %}
        <script src="/js/graph.js"></script>
        <script src="/js/asset.js"></script>
        <script>
            // render the testing graph when the pages loads
            window.onload = () => {
                const statusCtx = document
                    .getElementById("assetStatusBarChart")
                    .getContext("2d");
                listAssets().then((assets) => {
                    renderBarGraph(statusCtx, assets);
                })
                const meterCtx = document
                    .getElementById('meterReadingsChart')
                    .getContext('2d');
                window.myScatter = testGraph(meterCtx);

                let table = new AssetTable("assetsTable");
                table.render();
                const assetsToggle = document.getElementById("assetsToggle");
                assetsToggle.addEventListener("click", (event) => {
                    table.toggle();
                });
            }
        </script>
{% endblock %}